<% layout('/layout/boilerplate') -%>

    <!-- 
    <form method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" id='title' name="title" value="<%=camp.title%>">
        </div>
        <div>
            <label for=" location">Location</label>
            <input type="text" id='location' name="location" value="<%=camp.location%>">
        </div> -->


    </form>
    <div class="mx-5 my-5">
        <h1 class="mt-5">Edit Campground</h1>
        <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="post" novalidate class="Validate-karo">
            <div class="mb-3">
                <label for="title">Title</label>
                <input class="form-control" type="text" id='title' name="title" style="width: 400px;" required
                    value="<%=camp.title%>">
            </div>
            <div class="mb-3">
                <label for="location">Location</label>
                <input class="form-control" type="text" id='location' name="location" style="width: 400px;" required
                    value="<%=camp.location%>">
            </div>
            <div class="mb-3">
                <label for="img">Img URL</label>
                <input class="form-control" type="text" id='img' name="img" style="width: 400px;" required
                    value="<%=camp.img%>">
            </div>
            <div class="mb-3 input-group" style="width: 400px;">
                <span class="input-group-text">&#8377(INR)</span>
                <input class="form-control" type="number" min='0' step="0.01" name="price" required
                    value="<%=camp.price%>">
            </div>
            <div class="form-floating">
                <textarea class="form-control" id="description" style="height: 100px; width: 400px;" name="description"
                    required></textarea>
                <label for="description">Describe your amazing campsite</label>
            </div>
            <button class="mt-4 btn btn-outline-secondary" style="width: 200px;">Edit Campground</button>
            <p class="mt-3"><a href="/campgrounds/<%=camp._id%>">Back</a></p>

        </form>
    </div>